/* src/components/Footer.css */

.footer {
    background-color: #28a4b5; /* Aqua color */
    color: white;
    text-align: center;
    padding: 20px 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Verdana', sans-serif;
}

.footer p {
    margin: 0;
    font-size: 16px;
}
